/* Top part */

.glassPanel {
	background-color: white;
	background-image: url(../assets/testeffect.gif);
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 80px;
	transform: scale(1);
	position: absolute;
}

.glass {
	width: 10%;
	height: 100%;
	backdrop-filter: blur(30px);
	background: linear-gradient(
		to right,
		rgba(64, 64, 73, 0.1) 0%,
		rgba(0, 0, 0, 0.4) 80%,
		rgba(14, 14, 17, 0.6) 100%
	);
}


.AccessibilityContainer {
	margin-top: 70vh;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
    background-color: #f8f8f8;
}

.AccessibilityContainer .titleAccessibility {
	font-size: 7vh;
    font-family: "Gotham Black", Arial, Helvetica, sans-serif;
	position: absolute;
	color: #f8f8f8;
}


/* Main content */
.red {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Gotham Medium", Arial, Helvetica, sans-serif;
	background-color:  #e30613;
	color: #f8f8f8;
	width: 100%;
	height: 400px;
}

.info {
	display: flex;
	flex-direction: row;
	align-items: center;
    text-align: left;
	font-family: "Gotham Book", Arial, Helvetica, sans-serif;
    width: 430px;
}

#marker{
	font-size: 70px;
	margin-right: 20px;

}

.infoWrapper{
    display: flex;
	flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.route{
    width: 250px;
    height: 50px;
    font-family: "Gotham Medium", Arial, Helvetica, sans-serif;
    background-color:  #e30613;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
}

.route:hover{
    background-color:  #e30613;
    color: #f8f8f8;
}

.GroundPlan{
	font-family: "Gotham Black", Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 50px;
	margin-bottom: 50px;
}



/* Transport section */
.transport {
	font-family: "Gotham Book", Arial, Helvetica, sans-serif;
	margin: 0px 100px;
	padding: 10px 0;
    margin-bottom: 100px;
}

.section {
	border-bottom: 1px solid #ccc;
}

.sectionContent{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.7s ease;
}

.sectionContent.open {
    max-height: 200px; 
}

.sectionHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.sectionHeader h3 {
	margin: 0;
}

.arrow {
	display: inline-block;
	transition: transform 0.3s ease;
}

.arrow.open {
	transform: rotate(180deg);
}

.sectionContent {
	padding: 10px 0;
}


@media screen and (max-width: 768px) {
	.glassPanel {
		height: 100vh;
	}
	.AccessibilityContainer {
		margin-top: 100vh;
	}
	.info {
		flex-direction: column;
	}
	.infoWrapper{
		margin-top: 0px;
	}
	.route{
		width: 200px;
		height: 40px;
	}
	.transport {
		margin: 0px 20px;
	}

	.GroundPlan{
		font-family: "Gotham Black", Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 20px;
		margin-bottom: 50px;
	}
	
}

@media screen and (max-width: 480px) {
	.GroundPlan{
		font-family: "Gotham Black", Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 20px;
		margin-bottom: 50px;
	}
	.glassPanel {
		height: 25vh;
	}
	.AccessibilityContainer {
		margin-top: 50vh;
	}

	.AccessibilityContainer .titleAccessibility {
		font-size: 30px;
	}
	.info {
		flex-direction: column;
		text-align: center;
		margin: 40px 0px;
	}
	.infoWrapper{
		margin-top: 0px;
	}
	.route{
		width: auto;
		height: 40px;
		display: flex;
		align-items: center;
	}
	.transport {
		margin: 40px 20px;
	}

	#marker{
		margin-right: 0;
	}

	.sectionContent{
		padding: 0px 0px;
	}

	.sectionHeader{
		margin: 10px 0px
	}
	
}