/* Top part */

.glassPanel {
	background-color: white;
	background-image: url(../assets/testeffect.gif);
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 80px;
	transform: scale(1);
	position: absolute;
}

.glass {
	width: 10%;
	height: 100%;
	backdrop-filter: blur(30px);
	background: linear-gradient(to right, rgba(64, 64, 73, 0.1) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(14, 14, 17, 0.6) 100%);
}

a {
	text-decoration: none;
}
.AccessibilityContainer {
	margin-top: 70vh;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f8f8f8;
}

.AccessibilityContainer .titleAccessibility {
	font-size: 7vh;
	font-family: "Gotham Black", Arial, Helvetica, sans-serif;
	position: absolute;
	color: #f8f8f8;
	font-size: 80px;
}

/* Main content */
.red {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Gotham Medium", Arial, Helvetica, sans-serif;
	color: #f8f8f8;
	width: 100%;
	height: 400px;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	font-family: "Gotham Light", Arial, Helvetica, sans-serif;
	width: 300px;
}

#marker {
	font-size: 70px;
	margin-right: 20px;
}

.infoWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 50px;
}
.route button {
	padding: 10px 20px;
}

.route {
	width: auto;
	font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
	background-color: #e30613;
	color: #f8f8f8;
	margin-left: -40px;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

.route:hover {
	background-color: #e30613;
	color: white;
	cursor: pointer;
	box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.8);
	transition-duration: 0.5s;
}

.GroundPlan {
	font-family: "Gotham Black", Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 30px;
	margin-bottom: 0;
	margin-top: 0;
}

.GroundPlanWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.GroundPlanWrapper img {
	max-width: 100%;
}

/* Transport section */
.transport {
	font-family: "Gotham Book", Arial, Helvetica, sans-serif;
	margin: 0px 100px;
	padding: 10px 0;
	margin-bottom: 100px;
}

.section {
	border-bottom: 4px solid #000000;
}


.sectionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out, padding 0.7s ease-in-out;
    padding: 0 0;
    font-size: 16px;
    line-height: 3vh;
}


.sectionContent p {
	font-size: 16px;
	line-height: 4vh;
	font-family: "Gotham Light", Arial, Helvetica, sans-serif;
}

.sectionContent.open {
    max-height: 400px; /* Adjust as needed */
    padding-bottom: 20px;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    font-size: 20px;
    font-family: "Gotham Black";
    margin-top: 15px;
}

.sectionHeader h3 {
	margin: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: "Gotham Black";
	font-size: 20px;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.arrow.open {
    transform: rotate(180deg);
}

.GroundPlan {
	font-size: 50px;
}

.route {
	padding: 10px 15px;
}

@media screen and (max-width: 768px) {
	p {
		font-size: 13px;
	}
	h3 {
		font-size: 16px;
	}
	.glassPanel {
		height: 50vh;
	}
	.AccessibilityContainer {
		margin-top: 500px;
		overflow-x: hidden;
	}
	.AccessibilityContainer .titleAccessibility {
		font-size: 30px;
	}

	.info {
		flex-direction: column;
		text-align: center;
		margin: 40px 0px;
	}
	.info img {
		width: 50px;
	}
	.infoWrapper {
		flex-direction: column;
		margin-top: 40px;
	}
	.route {
		width: auto;
		height: 40px;
		display: flex;
		align-items: center;
		margin: 0;
	}
	.transport {
		margin: 0 20px 5vh;
		padding: 0;
	}

	#marker {
		margin-right: 0;
	}

	.GroundPlan {
		font-family: "Gotham Black", Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 40px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 480px) {
	.GroundPlan {
		font-family: "Gotham Black", Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 20px;
		margin-bottom: 0px;
		margin-top: 100px;
	}
	.glassPanel {
		height: 30vh;
	}
	.AccessibilityContainer {
		margin-top: 300px;
	}
	.AccessibilityContainer .titleAccessibility {
		font-size: 30px;
	}
	.info {
		flex-direction: column;
		text-align: center;
		margin: 40px 0px;
	}
	.info img {
		width: 30px;
	}
	.infoWrapper {
		flex-direction: column;
		margin-top: 0px;
	}
	.route {
		width: auto;
		height: 40px;
		display: flex;
		align-items: center;
	}
	.transport {
		margin: 40px 20px;
	}

	#marker {
		margin-right: 0;
	}

	.sectionContent {
		padding: 0px 0px;
	}

	.sectionHeader {
		margin: 10px 0px;
	}

	.sectionContent p {
		line-height: 20px;
	}
}
