.title {
	margin-top: 200px;
	font-family: "Gotham Black", Arial, Helvetica, sans-serif;
}

.red {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Gotham Medium", Arial, Helvetica, sans-serif;
	background-color: #ff0000;
	color: White;
	width: 100%;
	height: 400px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    text-align: center;
	font-family: "Gotham Book", Arial, Helvetica, sans-serif;
    width: 650px;
}

.infoWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.route{
    width: 250px;
    height: 50px;
    font-family: "Gotham Medium", Arial, Helvetica, sans-serif;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
}

.route:hover{
    background-color: #ff3333;
    color: white;
}



/* Transport section */
.transport {
	font-family: "Gotham Book", Arial, Helvetica, sans-serif;
	margin: 0px 100px;
	padding: 10px 0;
    margin-bottom: 100px;
}

.section {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.sectionHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.sectionHeader h3 {
	margin: 0;
}

.arrow {
	display: inline-block;
	transition: transform 0.3s ease;
}

.arrow.open {
	transform: rotate(180deg);
}

.sectionContent {
	padding: 10px 0;
}
