.glassPanel {
	background-color: white;
	background-image: url(../assets/testeffect.gif);
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 80px;
	transform: scale(1);
	position: absolute;
}

.glass {
	width: 10%;
	height: 100%;
	backdrop-filter: blur(30px);
	background: linear-gradient(
		to right,
		rgba(64, 64, 73, 0.1) 0%,
		rgba(0, 0, 0, 0.4) 80%,
		rgba(14, 14, 17, 0.6) 100%
	);
}


.ActivitiesContainer {
	margin-top: 70vh;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.ActivitiesContainer .titleActivities {
	font-size: 7vh;
    font-family: "Gotham Black", Arial, Helvetica, sans-serif;
	position: absolute;
	color: white;
}


.activitiesWrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: space-between;
	margin-bottom: 100px;
}



/* .activityImage {
	background-color: black;
} */
.activitiesContent {
	transform: scale(0.9);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 80px;
}
.activityInfo {
	display: flex;
	justify-content: space-between;
}
.activityComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.activityContext {
	margin-top: 20px;
	background-color: black;
	width: 500px;
	border-radius: 20px;
	margin: 20px 0px;
}
