.ActivityImage {
	background-color: black;
}
.ActivitiesContent {
	transform: scale(0.9);
}
.ActivityInfo {
	display: flex;
	justify-content: space-between;
}
.ActivityComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ActivityContext {
	background-color: black;
	width: 500px;
	border-radius: 20px;
}
