.container-3 {
	height: 100vh;
	width: 100%;
	background: url("./assets/BackgroundImage.png") no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;

}

.glass-panel-3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.glass-3 {
	width: 10%;
	height: 100%;
	backdrop-filter: blur(30px);
	background: linear-gradient(to right, rgba(64, 64, 73, 0.1) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(14, 14, 17, 0.6) 100%);
}



.ActivityImage {
	background-color: black;
}
.ActivitiesContent {
	transform: scale(0.9);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.ActivityInfo {
	display: flex;
	justify-content: space-between;
}
.ActivityComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ActivityContext {
	margin-top: 20px;
	background-color: black;
	width: 500px;
	border-radius: 20px;
}
