body {
	background: url("../assets/BlueBackground.png") no-repeat center center fixed;
}

.ConfigTitle {
	font-size: 100px;
	z-index: 3;
	font-family: "Gotham Black";
	text-align: center;
}

.ConfigContent {
	transform: scale(0.9);
}
.ConfigInfo {
	display: flex;
	justify-content: center;
	font-family: "objektiv-mk1", sans-serif;
}
.ConfigInfo div {
	margin: 40px 90px;
}
.ConfigInfo p {
	font-size: 20px;
	text-decoration: underline;
}
.ConfigBottom {
	text-align: center;
	font-size: 20px;
	font-family: "objektiv-mk1", sans-serif;
}
.ConfigButton {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 90px;
	width: 400px;
}
.ConfigContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ConfigButton button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}
