/* ------------------ Fonts -------------------- */
@font-face {
	font-family: "Gotham Black";
	src: url(../assets/fonts/Gotham-Black.otf);
}

@font-face {
	font-family: "Gotham Bold";
	src: url(../assets/fonts/GothamBold.ttf);
}

@font-face {
	font-family: "Gotham Light";
	src: url(../assets/fonts/Gotham-Light.otf);
}

/* ------------------ Desktop -------------------- */
.faqContainer {
	margin-top: 70vh;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.faqContainer .titleFaq {
	font-size: 7vh;
	font-family: "Gotham Black";
	position: absolute;
	color: white;
}

h1 {
	font-family: "Gotham Black";
}

.activities {
	margin-top: 20vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20vh;
	
}

.textActivities
p {
	font-family: "Gotham Light";
}

.btn {
	background-color: #e30613;
	text-decoration: none;
	color: white;
	padding: 3vh 10vh;
	font-family: "Gotham Black";
}

.socialMedia {
	text-align: center;
	margin-bottom: 20vh;
}

.socialMediaTitle {
	margin-bottom: 20px;
}

.socialIcons {
	display: flex;
	justify-content: space-evenly;
	padding-top: 7vh;
	margin: 0 auto;
}

.socialIcons svg {
	width: 80px;
	height: 80px;
	margin: 0 10px;
}

.icon {
	transition: transform 0.3s ease-in-out;
}

.icon:hover {
	transform: scale(1.1);
}

/* ------------------ Glass effect -------------------- */

.glassPanel {
	background-color: white;
	background-image: url(../assets/testeffect.gif);
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 80px;
	transform: scale(1);
	position: absolute;
}

.glass {
	width: 10%;
	height: 100%;
	backdrop-filter: blur(30px);
	background: linear-gradient(
		to right,
		rgba(64, 64, 73, 0.1) 0%,
		rgba(0, 0, 0, 0.4) 80%,
		rgba(14, 14, 17, 0.6) 100%
	);
}

/* ------------------ Accordion -------------------- */
.accordionItem {
	margin-bottom: 10px;
	/* border-radius: 5px; */
	overflow: hidden;
}

.accordionTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	background: #f7f7f7;
	cursor: pointer;
	font-family: "Gotham Black";
	font-size: 2.5vh;
	
}

.questionText {
	font-family: "Gotham Black";
}

.accordionContent {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease, padding 0.3s ease;
	padding: 0 15px;
	font-family: "Gotham Light";
	line-height: 25px;
	border-bottom: 5px solid black;
}

.accordionContent.active {
	max-height: 200px;
	padding: 15px;
}

/* ------------------ Tablet -------------------- */
@media (max-width: 768px) {
	.faqContainer {
		margin-top: 50vh;
		padding: 0 20px;
	}

	.faqContainer h1 {
		font-size: 4vh;
	}

	.faqContainer .titleFaq {
		font-size: 4vh;
		font-family: "Gotham Black";
		position: absolute;
		color: white;
	}

	.glassPanel {
		height: 30vh;
	}

	.accordionTitle {
		font-size: 2vh;
	}

	.arrow svg {
		width: 30px;
		height: 30px;
	}

	.activities {
		display: block;
		text-align: center;
	}

	.btn {
		margin-top: 0;

		display: inline-block;
	}

	.socialIcons {
		display: inline-block;
	}
}

/* ------------------ Smartphone -------------------- */
@media (max-width: 450px) {
	.faqContainer {
		margin-top: 45h;
		padding: 0 10px;
	}

	.faqContainer h1 {
		font-size: 3.5vh;
	}

	.faqContainer .titleFaq {
		font-size: 4vh;
		font-family: "Gotham Black";
		position: absolute;
		color: white;
		padding: 0px 10px 0px 10px;
		text-align: center;
	}

	.accordionTitle {
		font-size: 1.8vh;
	}

	.arrow svg {
		width: 20px;
		height: 20px;
	}

	.activities {
		display: block;
		text-align: center;
	}

	.btn {
		background-color: red;
		text-decoration: none;
		color: white;
		padding: 3vh 10vh;
		font-family: "Gotham Black";
	}

	.socialIcons {
		display: inline-block;
	}

	svg {
		width: 50px;
	}
}
