.FooterContainer {
	transform: scale(1);
	display: flex;
	justify-content: space-between;
	background-color: #2C2C2C;
	height: auto;
	position: absolute;
	width: 100%;
	padding: 10px 0px 0px 0px;
}
.whiteLogo {
	width: 280px;
	margin-left: 100px;
}

.links {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-right: 100px;
	margin-top: 30px;
}

.links a {
	text-decoration: none;
	color: white;
	margin-left: 30px;
	position: relative;
}

.links li{
	position: relative;
	margin-left: 40px;
}


.links li::after {
	content: "";
	display: inline-block;
	width: 2px;
	height: 20px;
	background-color: white;
	position: absolute;
	right: -36px;
	top: 50%;
	transform: translateY(-50%);
}

.links li:last-child::after {
	content: none;
}

.logoEhb{
	width: 300px;
	float: right;
	margin-top: 50px;
	margin-right: 30px;
}