/* header  */
h1 {
	margin: 0px;
}
.header {
	margin-top: 100px;
	color: black;
	margin: 200px 100px 0px 100px;
	display: flex;
}
.header h1 {
	margin-left: 40px;
	margin-bottom: -15px;
	font-size: 50px;
	font-family: "Gotham Medium";
}
.headerDate {
	display: flex;
	height: 60px;
	align-items: baseline;
}
.headerDate h3 {
	margin: 0;
}
.header img {
	width: 500px;
}
.leftHeader {
	display: flex;
	flex-direction: column;
	width: 500px;
}
.leftHeader h3 {
	font-family: "Gotham Medium";
	margin-left: 10px;
	font-size: 20px;
}
.leftHeader a {
	font-family: "Gotham Medium";
	font-size: 15px;
	color: white;
	padding: 8px 20px;
	background-color: red;
	border: none;
	text-decoration: none;
	margin-right: 35px;
}
.homeButton {
	display: flex;
	flex-direction: column;
	align-items: end;
}
.homeButton h3 {
	font-family: "Gotham light";
	margin-top: -10px;
	margin-left: 30px;
}
.text {
	margin-top: -10px;
}
.rightHeader {
	display: flex;
	margin-left: 15%;
	margin-top: 80px;
	flex-direction: column;
}

.rightHeader h2 {
	font-family: "Gotham Light";
	font-size: 16px;
}
/* glass effect  */

.glassPanel {
	background-color: white;
	background-image: url(../assets/testeffect.gif);
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 100px;
	transform: scale(1);
}

.glass {
	width: 10%;
	height: 100%;
	backdrop-filter: blur(30px);
	background: linear-gradient(to right, rgba(64, 64, 73, 0.1) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(14, 14, 17, 0.6) 100%);
}
/* Content  */
.content1 {
	margin: 50px 100px 0px 100px;
	font-family: "Gotham bold";
}
.content1 h1 {
	font-size: 50px;
}

/* Content2  */
.content2 {
	margin: 50px 100px 0px 100px;
	font-family: "Gotham bold";
	color: white;
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	height: 400px;
}
.content2 h4 {
	font-size: 20px;
	font-family: "Gotham light";
}

.button {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
}
.button a {
	text-decoration: none;
	color: #ff0000;
	background-color: white;
	padding: 5px 10px;
	margin-top: 20px;
}
.Containers {
	display: flex;
	justify-content: space-around;
}

.items {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	font-family: "Gotham light";
	width: 700px;
	margin: 0 30px;
}
.items h4 {
	color: black;
	font-family: "Gotham bold";
	font-size: 30px;
}
.items h3 {
	padding: 0px 40px;
	height: 61px;
	text-align: center;
}
.picture {
	background-color: rgb(162, 162, 162);
	width: 100%;
	height: 350px;
	margin: 0 40px;
}
.button2 a {
	text-decoration: none;
	color: white;
	background-color: #ff0000;
	padding: 10px 25px;
	font-size: 20px;
	margin-top: 20px;
	font-family: "Gotham bold";
}
.button2 {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
}
.PracticalInfo {
	display: flex;
	margin-top: 50px;
	justify-content: space-around;
}
.PracticalInfo div {
	width: 390px;
}
.PracticalInfo h4 {
	margin: 5px;
}
.buttonsHome {
	display: flex;
	justify-content: space-around;
	margin-top: -30px;
}
.redbutton {
	margin-top: 10px;
	display: flex;
	margin-left: 5px;
	font-size: 16px;
}

.content3 {
	margin: 200px 100px 0px 100px;
	font-family: "Gotham light";
	margin-bottom: 130px;
}
.content3 h1 {
	font-size: 50px;
	font-family: "Gotham bold";
}
.content3 a {
	text-decoration: underline;
	color: black;
	font-family: "Gotham bold";
}
.icons {
	display: flex;
}
.icons img {
	width: 80px;
}
.logoText {
	margin-left: -50%;
}
.picture1 {
	background-color: rgb(165, 165, 165);
	height: 200px;
	margin-bottom: 20px;
}
@media screen and (max-width: 700px) {
	.leftHeader h1 {
		font-size: 20px;
		margin: 0;
	}
	.leftHeader img {
		width: 300px;
	}
	.header {
		margin: 100px 50px 0px 50px;
		flex-direction: column;
		margin-top: 20px;
	}
	.headerText {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.leftHeader {
		align-items: center;
		width: auto;
	}
	.homeButton {
		align-items: center;
	}
	.leftHeader a {
		margin-right: 0;
		margin-top: 20px;
	}
	.headerDate {
		margin-top: 20px;
	}
	.bold-text {
		font-size: 20px;
	}
	.rightHeader {
		margin: 0px;
		margin-top: 30px;
		align-items: center;
	}
	.rightHeader h2 {
		font-size: 12px;
	}
	.glassPanel {
		height: 30vh;
		margin-top: 30px;
	}
	.content1 h1 {
		font-size: 20px;
	}
	.content1 {
		margin: 100px 50px 0px 50px;
		flex-direction: column;
	}
	.scrollContainer {
		margin-left: 50px;
		margin-right: 50px;
	}
	.item {
		height: 200px;
		width: 100px;
		min-width: 200px;
	}
	.item img {
		width: 100px;
		margin: 0;
	}
	.Containers h3 {
		font-size: 13px;
	}
	.Containers h4 {
		margin-bottom: 10px;
		margin-top: 90px;
	}
	.item h2,
	.item p {
		margin: 70px 0;
		font-size: 22px;
	}
	.picture {
		width: 100%;
	}
	.Containers {
		flex-direction: column;
	}
	.content2 {
		margin: 50px 50px 0px 50px;
		height: auto;
	}
	.content3 h1 {
		font-size: 30px;
	}
	.content3 {
		margin: 50px 50px 0px 50px;
	}
	.PracticalInfo {
		flex-direction: column;
		margin-top: 0;
		margin-bottom: 70px;
		align-items: center;
	}
	.PracticalInfo div {
		width: auto;
		align-items: center;
	}
	.buttonsHome {
		align-items: center;
		flex-direction: column;
	}
	.items {
		width: auto;
		margin-top: 0;
	}
	.rightHeader div {
		width: auto;
	}
	.content3 {
		text-align: center;
	}
	.logoText {
		margin: 0;
	}
	.icons {
		flex-direction: column;
		margin-top: 40px;
		align-items: center;
		width: auto;
		text-align: center;
	}
	.redbutton {
		justify-content: center;
	}
	.icons img {
		width: 100%;
	}
}
@media screen and (max-width: 1200px) {
	.header {
		flex-direction: column;
		align-items: center;
		width: auto;
		margin-top: 30px;
	}
	.glassPanel {
		margin-top: 0;
	}
	.headerText {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.rightHeader {
		margin: 30px 0px;
	}

	.Containers {
		flex-direction: column;
		width: auto;
		height: auto;
	}
	.content2 {
		height: auto;
	}
	.logoText {
		margin: 0;
	}
	.icons {
		flex-direction: column;
		margin-top: 40px;
	}
	.icons img {
		width: 50px;
	}
	.PracticalInfo {
		flex-direction: column;
		margin-top: 0;
		margin-bottom: 70px;
	}
	.PracticalInfo div {
		width: auto;
	}
	.content3 {
		text-align: center;
		margin-top: 50px;
	}
	.logoText {
		margin: 0;
	}
	.icons {
		flex-direction: column;
		margin-top: 40px;
		align-items: center;
		width: auto;
		text-align: center;
	}
	.redbutton {
		justify-content: center;
	}
	.items {
		width: auto;
		margin-top: 70px;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.rightHeader div {
		width: auto;
	}
}
