/* header  */
h1 {
	margin: 0px;
}
.header {
	margin-top: 100px;
	color: black;
	margin: 200px 100px 0px 100px;
	display: flex;
}
.header h1 {
	margin-left: 40px;
	margin-bottom: -15px;
	font-size: 50px;
	font-family: "Gotham Medium";
}
.header img {
	width: 500px;
}
.leftHeader {
	display: flex;
	flex-direction: column;
	width: 500px;
}
.leftHeader button {
	width: 140px;
	font-family: "Gotham Medium";
	font-size: 15px;
	color: white;
	padding: 8px 20px;
	border-radius: 8px;
	background-color: red;
	border: none;
	margin-right: 35px;
}
.homeButton {
	display: flex;
	flex-direction: column;
	align-items: end;
}
.rightHeader {
	display: flex;
	margin-left: 10%;
	margin-top: 50px;
	flex-direction: column;
}
.rightHeader h2 {
	font-family: "Gotham Light";
	font-size: 16px;
}
/* glass effect  */
.glassPanel {
	background-color: white;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 100px;
	transform: scale(1);
}

.glass {
	width: 10%;
	height: 100%;
	backdrop-filter: blur(30px);
	background: linear-gradient(to right, rgba(64, 64, 73, 0.1) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(14, 14, 17, 0.6) 100%);
}
/* Content  */
.content1 {
	margin: 50px 100px 0px 100px;
}
div.scroll-container {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
	padding: 10px;
}

div.scroll-container img {
	padding: 10px;
}
