@font-face {
	font-family: "Gotham Black";
	src: url(../assets/fonts/Gotham-Black.otf);
}

@font-face {
	font-family: "Gotham Bold";
	src: url(../assets/fonts/GothamBold.ttf);
}

@font-face {
	font-family: "Gotham Light";
	src: url(../assets/fonts/Gotham-Light.otf);
}

.wrapper{
	background-repeat: repeat;
}

.fix{
	clear: both;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.glassPanel {
	background-color: white;
	background-image: url(../assets/testeffect.gif);
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 105vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 80px;
	transform: scale(1);
	position: absolute;
}

.glass {
	width: 10%;
	height: 100%;
	backdrop-filter: blur(30px);
	background: linear-gradient(
		to right,
		rgba(64, 64, 73, 0.1) 0%,
		rgba(0, 0, 0, 0.4) 80%,
		rgba(14, 14, 17, 0.6) 100%
	);
}

.title h1 {
	font-family: "Gotham Black";
	font-size: 30px;
	color: #ffffff;
}

.projectTitle {
	font-family: "Gotham Black";
	margin-bottom: 30px;
}

.form-section-1 input {
	width: 230px;
	height: 30px;
	padding: 0.5em;
	margin-bottom: 16px;
}

.select-2 select {
	width: 450px;
	height: 30px;
	padding: 0.5em;
	margin-bottom: 16px;
}

.content {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	height: 100vh;
	color: white;
	margin-top: 7%;
}

.svg-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form-3 {
	flex-direction: column;
	margin-bottom: 30px;
	margin-top: 2%;
	gap: 20px;
}

.section-1,
.section-2 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media (min-width: 600px) {
	.section-1,
	.section-2 {
		flex-direction: row;
	}
}

.section-1 input,
.section-2 input {
	flex: 1;
	font-family: "Gotham Light";
	font-size: 14px;
}

.occupation-3,
.project-checkbox-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}

@media (min-width: 600px) {
	.occupation-3,
	.project-checkbox-container {
		flex-direction: row;
	}
}

.occupation-3 select {
	width: 248px;
	height: 49px;
	padding: 0.5em;
	margin-bottom: 16px;
	font-family: "Gotham Light";
	font-size: 14px;
}

.project-checkbox {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding: 10px;
	width: 228px;
	height: 30px;
}

.project-checkbox input[type="checkbox"] {
	width: 20px;
	height: 20px;
	background-color: #cccccc;
	border: none;
	margin-right: 10px;
}

.project-checkbox label {
	font-family: "Gotham Light";
	font-size: 14px;
	color: #333333;
}

.project-checkbox-container {
	display: flex;

	gap: 10px;
}

.bedrijf::placeholder {
	color: black;
	font-family: "Gotham Light";
	font-weight: 400;
}

.continue,
button {
	position: relative;
	padding: 15px 20px;
	width: 150px;
	border-radius: 0;
	font-family: "Gotham Black";
	font-size: 20px;
	background: white;
	overflow: hidden;
	color: transparent;
}
.continue,
button:hover {
	background-color: rgb(255, 255, 255);
	color: #7b201e;
	border: none;
}

.continue::before {
	content: "Continue";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("./assets/BlueBackground.png") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	pointer-events: none;
}

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading-screen p {
	margin-top: 10px;
	font-size: 16px;
	color: #333;
}

.project-text .text-p {
	font-family: "Gotham light";
	font-weight: 400;
}

@media (max-width: 768px) {
	.container-3 {
		margin-top: 20%;
	}

	
	.content {
		margin-top: 12vh;
		width: 59%;
	}

	.form-3 {
		margin-top: 10%;
	}
}

@media (max-width: 450px) {
	.continue,
	button {
		margin-bottom: 50px;
	}

	.section-1,
	.section-2 {
		height: 130px;
	}
	.container-3 {
		margin-top: 25%;
	}

	.content {
		margin-top: 15vh;
		width: 59%;
	}

	
}
