.NavContainer {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	z-index: 2;
	font-family: "Gotham Medium", Arial, Helvetica, sans-serif;
	font-weight: 900;
	background-color: white;
	width: 100%;
	color: rgb(0, 0, 0);
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
}

.NavContainer img {
	width: 200px;
	margin-left: 100px;
}

.Nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.Nav li {
	margin-left: 70px;
	position: relative; /* Important for the dropdown */
}

/* Adding vertical line between links: https://chatgpt.com/c/77230ba8-d567-4e48-9a29-c98706a916e6 */
.Nav li::after {
	content: "";
	display: inline-block;
	width: 2px;
	height: 20px;
	background-color: black;
	position: absolute;
	right: -35px; /* Half of margin-left to center the line */
	top: 50%;
	transform: translateY(-50%);
}

.Nav .dropdownMenu li::after {
	content: none;
}

.Nav a {
	text-decoration: none;
	color: inherit;
}

/* Dropdown Menu */
.dropdown:hover .dropdownMenu {
	display: block;
}

.dropdownToggle {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.dropdownMenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: white;
	border: 1px solid #ccc;
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-width: 160px;
	z-index: 1000;
}

.dropdownMenu li {
	margin: 0;
}

.dropdownMenu li a {
	padding: 8px 16px;
	display: block;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.dropdownMenu li a:hover {
	background-color: #f0f0f0;
	color: rgb(0, 0, 0);
}

.btn {
	background-color: #ff0000;
	color: white;
	padding: 6px 12px;
	border-radius: 5px;
	font-family: "Gotham Light", Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
}
@media screen and (max-width: 480px) {
	.NavContainer img {
		margin-left: 30px;
		width: 150px;
	}
}

@media screen and (max-width: 1200px) {
	.Nav {
		display: none;
	}
}
