@font-face {
	font-family: "Gotham Black";
	src: url(../assets/fonts/Gotham-Black.otf);
}

@font-face {
	font-family: "Gotham Bold";
	src: url(../assets/fonts/GothamBold.ttf);
}

@font-face {
	font-family: "Gotham Light";
	src: url(../assets/fonts/Gotham-Light.otf);
}

.NavContainer {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	z-index: 2;
	font-family: "Gotham Black";
	background-color: white;
	width: 100%;
	color: rgb(0, 0, 0);
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
}

.NavContainer img {
	width: 200px;
	margin-left: 100px;
}

.Nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.Nav li {
	margin-left: 70px;
	position: relative; /* Important for the dropdown */
}

.Nav a {
	text-decoration: none;
	color: inherit;
}

/* Dropdown Menu */
.dropdown:hover .dropdownMenu {
	display: block;
}

.dropdownToggle {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.dropdownMenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: white;
	border: 1px solid #ccc;
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-width: 160px;
	z-index: 1000;
}

.dropdownMenu li {
	margin: 0;
}

.dropdownMenu li a {
	padding: 8px 16px;
	display: block;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.dropdownMenu li a:hover {
	background-color: #f0f0f0;
	color: rgb(0, 0, 0);
}
