.NavContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	padding: 20px 0px;
	z-index: 2;
	font-family: "Gotham bold", Arial, Helvetica, sans-serif;
	font-weight: 900;
	background-color: #f8f8f8;
	width: 100%;
	color: rgb(0, 0, 0);
	height: 40px;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
	position: absolute;
}

.NavContainer img {
	width: 200px;
	margin-left: 100px;
}

.Nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.Nav li {
	margin-left: 70px;
	position: relative; /* Important for the dropdown */
}
.Nav a {
	font-size: 16px;
}

/* Adding vertical line between links: https://chatgpt.com/c/77230ba8-d567-4e48-9a29-c98706a916e6 */
.Nav li::after {
	content: "";
	display: inline-block;
	width: 2px;
	height: 20px;
	background-color: black;
	position: absolute;
	right: -35px; /* Half of margin-left to center the line */
	top: 50%;
	transform: translateY(-50%);
}

.Nav .dropdownMenu li::after {
	content: none;
}

.Nav a {
	text-decoration: none;
	color: inherit;
}

/* Dropdown Menu */
.dropdown:hover .dropdownMenu {
	display: block;
}

.dropdownToggle {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.dropdownMenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: white;
	border: 1px solid #ccc;
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-width: 160px;
	z-index: 1000;
}

.dropdownMenu li {
	margin: 0;
}

.dropdownMenu li a {
	padding: 8px 16px;
	display: block;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.dropdownMenu li a:hover {
	background-color: #f0f0f0;
	color: rgb(0, 0, 0);
}

.btn {
	background-color: #e30613;
	color: white;
	padding: 10px 15px;
	font-family: "Gotham bold", Arial, Helvetica, sans-serif;
	margin-right: 20px;
	margin-left: 70px;
	border-style: none;
}

.btn:hover {
	background-color: #e30613;
	color: white;
}

@media screen and (max-width: 480px) {
	body {
		overflow-x: hidden;
	}
	.NavContainer img {
		margin-left: 30px;
		width: 150px;
	}
	.NavContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		top: 0;
		padding: 20px 0px;
		z-index: 2;
		font-family: "Gotham bold", Arial, Helvetica, sans-serif;
		font-weight: 900;
		background-color: #f8f8f8;
		width: 100%;
		color: rgb(0, 0, 0);
		height: 40px;
		position: absolute;
		filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
	}
}

@media screen and (max-width: 1200px) {
	.Nav {
		display: none;
	}
	.NavContainer img {
		margin-left: 30px;
	}
}
