/* SlideShow.module.css */
.tile {
	width: 300px;
	margin: 20px 0 0 40px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	transition: transform 0.7s ease;
	scroll-snap-align: start; /* Snap to the start of each tile */
	overflow: hidden; /* Ensure the overlay is contained within the tile */
}

.imageContainer {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.backgroundImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.glassPanel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transition: opacity 0.3s ease;
}

.glass {
	width: 20%;
	height: 100%;
	backdrop-filter: blur(10px);
	background: linear-gradient(to right, rgba(64, 64, 73, 0.1) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(14, 14, 17, 0.6) 100%);
	transition: backdrop-filter 1s ease-in-out;
	animation: blurAnimation 4s infinite;
}

@keyframes blurAnimation {
	0%,
	100% {
		backdrop-filter: blur(10px);
	}
	50% {
		backdrop-filter: blur(0px);
	}
}
.mainText {
	text-align: center;
}
.mainText p {
	text-decoration: none;
	color: black;
	font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
}
.tile a {
	text-decoration: none;
	color: black;
	font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
}

.infoBox {
	position: absolute;
	height: 200px;
	bottom: -90px;
	left: 0;
	width: 100%;
	background: rgb(0, 0, 0);
	color: white;
	padding: 10px 15px;
	box-sizing: border-box;
	transform: translateY(100%);
	transition: transform 0.3s ease;
}

.infoText {
	font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
}

.tile:hover .glassPanel {
	opacity: 0;
}

.tile:hover {
	transform: scale(1.1);
}

.tile:hover .infoBox {
	transform: translateY(-70%);
}
button .splide__arrow {
	background-color: red;
}

.splide__arrow:hover {
	background-color: #333; /* Achtergrondkleur bij hover */
}

@media (max-width: 1025px) {
	.tile {
		margin: 20px 0 0 20px;
	}
}

@media (max-width: 768px) {
	.tile {
		width: 300px;
		max-width: 300px;
		height: auto;
	}

	.imageContainer {
		height: 200px;
	}
	.tile:hover .infoBox {
		transform: translateY(-65%);
	}
}

@media (max-width: 480px) {
	.tile {
		width: 300px;
		max-width: 300px;
		height: auto;
		margin: 10px 20px;
	}

	.infoText{
		font-size: 13px;
		margin: 10px 15px;
	}

	.imageContainer {
		height: 200px;
	}
}

@media (max-width: 320px){
	.infoText{
		padding: 0 20px;
	}
}
