@font-face {
	font-family: "Gotham Black";
	src: url(./assets/fonts/Gotham-Black.otf);
}

@font-face {
	font-family: "Gotham Bold";
	src: url(./assets/fonts/GothamBold.ttf);
}

@font-face {
	font-family: "Gotham Light";
	src: url(./assets/fonts/Gotham-Light.otf);
}

/* Timer2.module.css */
.bold-text {
	font-weight: bold;
	font-size: 70px; /* Grootte van de cijfers */
	font-family: "Gotham Medium";
}
.time-blocks {
	display: flex;
}
.time-block h1 {
	display: flex;
	align-items: center;
	font-size: 70px;
	margin: 0px 20px;
	font-family: "Gotham light";
}
.time-block h2 {
	margin: 0;
	display: flex;
	align-items: flex-end;
	margin-bottom: 7px;
	margin-left: 5px;
	font-size: 30px;
	font-family: "Gotham Medium";
}
.time-block {
	text-align: center;
	display: flex;
	flex-direction: row;
	margin-right: 30px;
}
#timer {
	font-size: 20px;
	font-family: "Gotham Light";
}

/* Add other styles as needed */

@media screen and (max-width: 650px) {
	.thin-line {
		padding: 0; /* Aanpassing van de padding voor kleinere schermen */
		font-size: 3em;
		margin-top: 50px;
	}
	.Time h2 {
		font-size: 5px;
	}
	.bold-text {
		font-size: 50px; /* Grootte van de cijfers */
	}
	.time-block {
		margin: 0;
		padding: 0;
		width: 80px;
	}
	#timer {
		font-size: 10px;
	}
}

@media screen and (min-width: 651px) and (max-width: 800px) {
	.thin-line {
		padding: 0; /* Aanpassing van de padding voor schermen tussen 501px en 800px */
	}
	#timer {
		font-size: 12px;
	}
	.bold-text {
		font-size: 80px; /* Grootte van de cijfers */
	}
	.thin-line {
		font-size: 3em;
		margin-top: 50px;
	}
	.time-block {
		margin: 0;
		margin: 20px;
		width: 100px;
	}
}
