.bold-text {
	font-weight: bold;
	line-height: 1;
}

.thin-line {
	font-weight: lighter;
	font-size: 0.5em;
	vertical-align: middle;
	line-height: 1;
	padding: 40px;
}

#timer {
	font-size: 100px;
	display: flex;
	align-items: center;
}
@media screen and (max-width: 500px) {
	#timer {
		font-size: 40px;
	}
	.thin-line {
		padding: 20px;
	}
}

@media screen and (min-width: 501px) and (max-width: 800px) {
	#timer {
		font-size: 60px;
	}
	.thin-line {
		padding: 30px;
	}
}
