@font-face {
	font-family: "Gotham Black";
	src: url(./assets/fonts/Gotham-Black.otf);
}

@font-face {
	font-family: "Gotham Bold";
	src: url(./assets/fonts/GothamBold.ttf);
}

@font-face {
	font-family: "Gotham Light";
	src: url(./assets/fonts/Gotham-Light.otf);
}

/* Timer2.module.css */
.bold-text {
	font-weight: bold;
	font-size: 70px; /* Grootte van de cijfers */
	font-family: "Gotham Medium";
}
.time-blocks {
	display: flex;
}
.time-block h1 {
	display: flex;
	align-items: center;
	font-size: 70px;
	margin: 0px 20px;
	font-family: "Gotham light";
}
.time-block h2 {
	margin: 0;
	display: flex;
	align-items: flex-end;
	margin-bottom: 7px;
	margin-left: 5px;
	font-size: 30px;
	font-family: "Gotham Medium";
}
.time-block {
	text-align: center;
	display: flex;
	flex-direction: row;
	margin-right: 30px;
}
#timer {
	font-size: 20px;
	font-family: "Gotham Light";
}

/* Add other styles as needed */

@media screen and (max-width: 480px) {
	.time-block h2 {
		font-size: 17px;
	}
	.bold-text {
		font-size: 40px; /* Grootte van de cijfers */
	}
	.time-block {
		margin: 0;
		padding: 0;
	}
	.time-block h1 {
		font-size: 20px;
		margin: 0px 10px;
	}
}
