/* Existing styles from the user */



@font-face {
    font-family: 'Gotham Light';
    src: url('./assets/fonts/gotham-light-webfont.woff2') format('woff2'),
         url('./assets/fonts/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Gotham Bold';
    src: url('./assets/fonts/gothambold-webfont.woff2') format('woff2'),
         url('./assets/fonts/gothambold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Gotham Black';
    src: url('./assets/fonts/gotham-black-webfont.woff2') format('woff2'),
         url('./assets/fonts/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Gotham Medium';
    src: url('./assets/fonts/gothammedium-webfont.woff2') format('woff2'),
         url('./assets/fonts/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham Book';
    src: url('./assets/fonts/gothambook-webfont.woff2') format('woff2'),
         url('./assets/fonts/gothambook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
}

/* SignIn button styles */
#SignIn {
	position: relative;
	padding: 19px 40px;
	width: 150px;
	border-radius: 0;
	font-family: "Gotham Black";
	font-size: 20px;
	background: white;
	overflow: hidden;
	color: transparent;
	margin-top: 30px;
	border: none;
}

#SignIn::before {
	content: "Schrijf je in!";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("./assets/bg-01.webp") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	pointer-events: none;
	background-attachment: local;
}

#SignIn:hover {
	cursor: pointer;
}